pandas>=2.3,<3
numpy>=2.0,<3
scikit-learn>=1.8,<2
joblib>=1.5,<2
folium>=0.20,<1
streamlit==1.55.0
altair==6.0.0
streamlit-folium==0.27.0
xarray>=2025.6,<2027
requests>=2.32,<3
seaborn>=0.13,<1
matplotlib>=3.10,<4
xgboost>=3.0,<4
